<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-left" ng-show="main.mainpage" role="search">
        <div class="form-group">
          <input ng-model="nameFilter" type="text" class="form-control" placeholder="Name" aria-label="Filter by name of the restaurants">
          <select ng-model="categoryFilter" class="form-control" aria-label="Filter by category of the restaurants">
            <option></option>
            <option ng-repeat="restaurant in main.restaurants | unique: 'venue.categories[0].name'" value="{{restaurant.venue.categories[0].name}}">{{restaurant.venue.categories[0].name}}</option>
            </select>
          <div class="checkbox">
            <label>
              <input ng-model="openFilter" type="checkbox" aria-label="Filter by restaurants that are open now" value="true"> Open now
            </label>
          </div>

        </div>
      </form>
      <a ui-sref="home" aria-label="Home page" style="float:right"><img src="assets/images/pizza.png" id="restaurantReviewerLogo" alt="Restaurant reviewer"></a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
