<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="nameFilter" type="text" class="form-control" placeholder="Name">
          <input ng-model="categoryFilter" type="text" class="form-control" placeholder="Category" list="categories">
          <div class="checkbox">
            <label>
              <input ng-model="openFilter" type="checkbox" value="true"> Open now
            </label>
          </div>
          <datalist id="categories">
            <select>
            <option ng-repeat="restaurant in main.restaurants | unique: 'venue.categories[0].name'" value="{{restaurant.venue.categories[0].name}}">
            </select>
          </datalist>
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
