<header><acme-navbar></acme-navbar></header>
<main>
<div class="container">
  <div class="row">
    <h2 style="display: none">Restaurants</h2>
    <div ng-repeat="restaurant in main.restaurants | filter:{venue: {name: nameFilter}}| filter:{venue: {categories:{name:categoryFilter}}}| filter: (openFilter || '') && {venue: {hours:{isOpen:openFilter}}}">
      <div class="clearfix" ng-if="$index % 4== 0"></div>
      <a ui-sref="restaurantDetails({id: restaurant.venue.id})">
        <article class="col-sm-3">
          <restaurant-smalldescription restaurantdata="restaurant"></restaurant-smalldescription>
        </article>
      </a>
    </div>
  </div>





</div>
</main>
