<div class="container">

  <div>
    <acme-navbar mainpage="true"></acme-navbar>
  </div>
  <div class="row">
    <div ng-repeat="restaurant in main.restaurants | filter:{venue: {name: nameFilter}}| filter:{venue: {categories:{name:categoryFilter}}}| filter: (openFilter || '') && {venue: {hours:{isOpen:openFilter}}}">
      <div class="clearfix" ng-if="$index % 4== 0"></div>
      <a ui-sref="restaurantDetails({id: restaurant.venue.id})">
        <div class="col-sm-3">
          <restaurant-smalldescription restaurantdata="restaurant"></restaurant-smalldescription>
        </div>
      </a>
    </div>
  </div>





</div>

