<header><acme-navbar></acme-navbar></header>
<main>
<main class="container">
  <div class="jumbotron">
    <h1 tabindex="0">{{restaurant.restaurantDetails.name}}</h1>
    <rating-radio ratingvalue="restaurant.rating" readonly="true" tabindex="0"></rating-radio>
    <div class="sectionhead">
      <h2>Hours:</h2>
      <p ng-repeat="hours in restaurant.restaurantDetails.hours.timeframes">{{hours.days}} <time>{{hours.open[0].renderedTime}}</time></p>
      <h2>Address:</h2>
    <address>
      {{restaurant.restaurantDetails.location.address}}, {{restaurant.restaurantDetails.location.crossStreet}}<br>
      {{restaurant.restaurantDetails.location.city}}<br>
      <abbr aria-label="Phone" title="Phone">P:</abbr>
      <a class="phoneNumber" href="tel:{{restaurant.restaurantDetails.contact.phone}}">
        {{restaurant.restaurantDetails.contact.formattedPhone}}
      </a>
    </address>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div ng-repeat="tip in restaurant.restaurantDetails.tips.groups[0].items.slice(((restaurant.currentPage-1)*restaurant.itemsPerPage), ((restaurant.currentPage)*restaurant.itemsPerPage))" tabindex="0">
          <div class="clearfix" ng-if="$index % 2== 0"></div>
          <div class="panel panel-default">
          <div class="panel-heading">{{tip.user.firstName}}{{tip.firstName}} {{tip.user.lastName}}  <time class="dateComment">{{tip.createdAt* 1000 | date:'medium':'-0300'}}</time></div>
          <div class="panel-body">
            {{tip.text}}
          </div>
          </div>
        </div>
        <pagination total-items="restaurant.totalItems" ng-model="restaurant.currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="restaurant.itemsPerPage"></pagination>
      </div>
      <div class="col-md-4">
        <carousel interval="3000">
          <slide ng-repeat="slide in restaurant.restaurantDetails.photos.groups[0].items">
            <img ng-src="{{slide.prefix}}400x400{{slide.suffix}}" alt="Image of {{restaurant.restaurantDetails.name}}" style="margin:auto;">
          </slide>
        </carousel>
      </div>
    </div>

    <button type="button" class="btn btn-primary" ng-if="!restaurant.writeReview" ng-click="restaurant.writeReview=true">Write a review</button>
    <form name="reviewForm" novalidate ng-submit="restaurant.addRestaurantReview()" autocomplete="on" class="form-horizontal" ng-if="restaurant.writeReview">

      <div class="form-group required">
        <label for="inputRating" class="control-label">Rating</label><br>
        <rating-radio ng-model="restaurant.ratingNew" ratingvalue="restaurant.ratingNew" id="inputRating"></rating-radio>
      </div>
      <div class="form-group required">
      <label for="inputAuthor" class="control-label">Name</label>
      <input type="text" ng-model="restaurant.author" class="form-control" id="inputAuthor" placeholder="Name" required>
    </div>
    <div class="form-group required">
      <label for="inputReview" class="control-label">Review</label>
      <textarea ng-model="restaurant.review" class="form-control" id="inputReview" placeholder="Review" required></textarea>
    </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block"
             ng-disabled="reviewForm.$invalid || !reviewForm.$dirty">Submit</button>
    </form>
  </div>
  </main>
</main>
